.git
.idea
dist
**/scratch
.next
coverage
storybook-static
**/storybook-static
.env
.env.*
**/.env
**/.env.*
*docker-compose*
node_modules
**/node_modules
/*.csv
.storybook
.vscode
.github
.circleci
.run
.storybook
.eslintrc
.eslintignore
.next
**/.next
.prettierignore
.prettierrc
codecov.yml
lefthook.yml
**/*.generated.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
!.yarn/cache
