**/*.js
**/*.d.ts
**/*.ts.snap
**/*.tsx.snap
**/*.sql
**/*.prisma
**/node_modules
**/generated
**/*.generated.ts
scratch
**/stories
.next
**/*.sh
**/*.css
**/dist
storybook-static
**/coverage
README.md
**/public
**/tailwind.config.js
